* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
#root,
body {
  height: 100%;
}

#root {
  min-height: 100vh;
  height: auto;
}

body {
  background-color: #1a1a2e;
}

input,
button {
  border: none;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}
